*{
  box-sizing: border-box;

}
h1{
  border-style: solid;color: #fa4002;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h2{
  text-align: center;  
  color: brown;
  font-size: xx-large;
}
h3{
  text-align: center;  
  color: brown;
  font-size: xx-large;
}
p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

  
}
  
body{
  background-color: rgb(251, 158, 64);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.fade-in-image {
    width: auto;    
    max-height: 100%;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

figcaption{
  font-style: italic;
  text-align: center;
}
img{
  display: block;
  margin: 0 auto;
  max-width: 50%;
  border: 5px solid #555;
}

#video {
  width: 300px; 
  height: 300px; 
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.image_container{
  display: block;
  margin: 0 auto;
  max-width: 60%;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(217, 228, 232);
  }
}